*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #000;
    --color-grey-1: #212529;
    --color-grey-2: #868e96;
    --color-grey-3: #ADB5BD;
    --color-grey-4: #E9ECEF;
    --color-grey-5: #F1F3F5;
    --color-grey-6: #F8F9FA;
}
body{
    background-color:var(--color-primary);
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
}
